<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crater.craterlogin.dao.db.mapper.UserKycDaoMapper">
    <insert id="insert" parameterType="com.crater.craterlogin.bean.entity.db.UserKyc">
        INSERT INTO USER_KYC(USER_NAME, EMAIL, CREATE_TIME, CREATE_USER, UPDATE_TIME, UPDATE_USER)
        VALUES (#{userName}, #{email}, #{createTime}, #{createUser}, #{updateTime}, #{updateUser})
    </insert>
</mapper>